* {
    font-family: 'DM Sans', sans-serif;
    background-color: #ededed;
    overflow-x: hidden;
}

body {
    background-color: #ededed;
}
 
header {
    box-sizing: border-box;
    width: 100%;
    border: 0;
}

h1 {
    color: #e4e4e8;
    background-color: #303080;
}

h2 {
    background-color: #f4f4f4;
}

input {
    border-radius: 5px;
    background-color: #f4f4f4;
}

button {
    border-radius: 5px;
}

#submit-button {
    color: #f4f4f4;
    background-color: #2d2dfb;

}

.current-weather-border {
    background-color: #f4f4f4;
    border-style: solid;
    border-color: #1a1a42;
    border-width: 2px;
}

.city-button {
    margin: 2%;
    background-color: #d2d2d3;
}

.active-city-button {
    color: #f4f4f4;
    background-color: #2d2dfb;
}

ul {
    list-style: none;
}

ul li {
    background-color: #303080;
}

.daily-forecast {
    color: #f4f4f4;
    border-style: solid;
    border-color: #10102a;
    border-width: 4px;

}

#uv-color {
    color: #f4f4f4;
    border-style: solid;
    border-color: #000;
}

h4 {
    background-color: inherit;
}

p {
    background-color: inherit;
}